@model EBills.Web.ViewModels.RegistrationConfirmationViewModel
@{
    ViewBag.Title = "Заборавена лозинка"; 
    Layout = "../Shared/_FrontPageLayout.cshtml";
}

<div id="forgot-password-holder">   
</div>

<script type="text/javascript">
    $(function () {
        $("#forgot-password-holder").ForgotPasswordWidget({});
        $("#forgot-password-holder").ForgotPasswordWidget("load");
    });
</script>
