@model EBills.Web.ViewModels.ForgetPasswordUserNameViewModel

@{
    ViewBag.Title = "Заборавена лозинка"; 
    Layout = "../Shared/_FrontPageLayout.cshtml";
}

<div id="forgot-password-confirmation-holder">   
</div>

<script type="text/javascript">
    $(function () {
        $("#forgot-password-confirmation-holder").ForgotPasswordConfirmationWidget({});
        $("#forgot-password-confirmation-holder").ForgotPasswordConfirmationWidget("load", '@Model.user');
    });
</script>
