<ul id="main-nav" class="nav nav-list">
    <li class="nav-header">Menu</li>
    <li class="active">
        <a href="@Url.Action("Index", "Home")" rel="Home" title="Home">Почетна</a>
    </li>
</ul>
