@model EBills.Web.Controllers.NotFoundModel
@{
    Layout = null;
    ViewBag.Title = "Page could not be found";
}
<h2>@ViewBag.Title</h2>
<div>
    You tried to visit '@Model.RequestedUrl' which cannot be found.
</div>
