<div class="login-form">
    <div class="form-horizontal">

        <h3 class="form-horizontal-heading">Променете лозинка</h3>
        <div class="control-group">
            <div class="controls">
             
                <input type="password" id="PasswordNew" placeholder="Нова лозинка" data-bind="value: PasswordNew">
            </div>
        </div>
         <div class="control-group">
            <div class="controls">

                <input type="password" id="PasswordNewConfirm" placeholder="Потврда на лозинката" data-bind="value: PasswordNewConfirm">
            </div>
        </div>
        <div class="submit-area">
            <input type="button" id="continueBtnConfirm" class="btn btn-primary btn-large" value="Потврди" />
            <input type="button" id="cancelBtnConfirm" class="btn btn-large" style="margin-left: 5px" value="Откажи" />
        </div>
        <div class="clearfix"></div>
    </div>
</div>

