<div class="login-form">
    <div class="form-horizontal">

        <h2 class="form-horizontal-heading">Заборавена лозинка</h2>
        <div class="control-group">
            <div class="controls">
                <input type="text" id="UserName" placeholder="Корисничко име/e-Mail" data-bind="value: UserName">
            </div>
        </div>
        <div class="submit-area">
            <input type="button" id="continueBtnConfirm" class="btn btn-primary btn-large" value="Продолжи"/>
            <input type="button" id="cancelBtnConfirm" class="btn btn-large" style="margin-left: 5px" value="Откажи" />
        </div>
        <div class="clearfix"></div>
        <br/>
         <span id="errorLabel" style="color: red"></span>
         <span id="infoLabel" style="display: none;color: red">Проверете го вашиот e-mail за да ја промените лозинката.</span>
        
<!--        <div class="register-area">
            <a data-bind="attr: { href: 'Account/Login' }">&raquo; Најавете се!</a>
            <a data-bind="attr: { href: 'Account/Registration' }">&raquo;  Регистрирајте се!</a>
        </div>-->

    </div>
</div>

