<div class="login-form">
    <div class="form-horizontal">

        <h2 class="form-horizontal-heading">Регистрација</h2>

        <div class="control-group">
            <div class="controls">
                <input type="text" id="FirstName" placeholder="Име" data-bind="value: FirstName" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="text" id="LastName" placeholder="Презиме" data-bind="value: LastName" />
            </div>
        </div>
        <div class="control-group" id="message">
            <div class="controls">
                <input type="text" id="UserName" placeholder="Корисничко име/e-Mail" data-bind="value: UserName" />
                <span id="result" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="password" id="Password" placeholder="Лозинка" data-bind="value: Password" class="password-1" />
                <i class="ie10-class icon icon-eye-open password-toggle-1"></i>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="password" id="PasswordConfirm" placeholder="Потврди лозинка" data-bind="value: PasswordConfirm" class="password-2" />
                <i class="ie10-class icon icon-eye-open password-toggle-2"></i>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <textarea id="Address" style="width: 92%; height: 70px" placeholder="Адреса" data-bind="value: Address"></textarea>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <a id="refreshCaptcha">
                    <img id="img-captcha" alt="Captcha" style="" /></a>
                <img id="refreshCaptchaBtn" alt="Captcha" src="Images/refresh.png" width="21px" height="21px" style="cursor: pointer;" />
            </div>
        </div>

        <div class="control-group" id="message1">
            <div class="controls">
                <input type="text" id="CaptchaValue" placeholder="Вредност ?" data-bind="value: CaptchaValue" />
                <span id="result1" />
            </div>
        </div>

        <div class="submit-area">
            <input type="button" id="continueBtn" class="btn btn-primary btn-large" value="Продолжи" />
            <input type="button" id="cancelBtn" class="btn btn-large" value="Откажи" />
        </div>

        <div class="clearfix"></div>

        <span id="errorLabel" style="color: red"></span>

        <div id="dialogBox" style="display: none" title="Потврда">
            <p>На вашата е-маил адреса е пристигнат код за верификација.Ве молиме потврдете.</p>
        </div>
    </div>
</div>

