<div class="wrap">
    <p>
        Пoчитувани...
    </p>
    <p>
        Со оваа акција лозинката на корисникот ке биде ресетирана.
    </p>
    <p>
        Е-маил порака со новата лозинка ке биде испратена до корисникот.
    </p>
    <p>
        Дали сте сигурни дека сакате да продолжите?
    </p>
    <div class="form-actions">
        <button type="submit" id="btn-reset" class="btn btn-primary">Потврди</button>
        <button type="button" id="btn-cancel" class="btn">Откажи</button>
    </div>
</div>

