<?xml version="1.0" encoding="utf-8" ?>

<autofac defaultAssembly="EBills.Data.NHibernate">
  <components>
    <component service="EBills.Domain.Data.IUserRepository, EBills.Domain"
               type="EBills.Data.NHibernate.Impl.UserRepository, EBills.Data.NHibernate, Version=1.0.0.0, Culture=neutral"></component>
    
    <component service="EBills.Domain.Data.IPublicUserRepository, EBills.Domain"
               type="EBills.Data.NHibernate.Impl.PublicUserRepository, EBills.Data.NHibernate, Version=1.0.0.0, Culture=neutral"></component>
    
    <component service="EBills.Domain.Data.IRoleRepository, EBills.Domain"
               type="EBills.Data.NHibernate.Impl.RoleRepository, EBills.Data.NHibernate, Version=1.0.0.0, Culture=neutral"></component>
    
    <component service="EBills.Domain.Data.IApplicationParameterRepository, EBills.Domain"
               type="EBills.Data.NHibernate.Impl.ApplicationParameterRepository, EBills.Data.NHibernate, Version=1.0.0.0, Culture=neutral"></component>
        
    <component service="EBills.Domain.Data.ILocalizationRepository, EBills.Domain"
               type="EBills.Data.NHibernate.Impl.LocalizationRepository, EBills.Data.NHibernate, Version=1.0.0.0, Culture=neutral"></component>

    <component service="EBills.Domain.Data.IPosRepository, EBills.Domain"
               type="EBills.Data.NHibernate.Impl.PosRepository, EBills.Data.NHibernate, Version=1.0.0.0, Culture=neutral"></component>

  </components>
</autofac>
