<div id="component_PublicUsers_grid">
</div>
 

<script type="text/javascript">
    $(function () {
        $("#component_PublicUsers_grid").UsersGridWidget({
            gridUrl: '@Url.Action("Grid", "PublicUsers", new { area = "SuperAdmin" })',
            languagesLoookupUrl: '@Url.Action("GetLanguages", "Lookups", new { area = "" })',
            posLoookupUrl: '@Url.Action("GetAllPos", "Lookups", new { area = "" })',
            resetPassword: true,
            addRoles: true,
            addPoses: true,
        });
        $("#component_PublicUsers_grid").UsersGridWidget("load");
    });
</script>