@{
    ViewBag.Title = "Users";
}
<h2>Корисници</h2>
<div id="Users_Tabs">
    <ul>
        <li><a href="#tabs-1">Master Admins</a></li>
        <li><a href="#tabs-2">Inside Users</a></li>      
    </ul>
    <div id="tabs-1">
        @Html.Partial("MasterAdmins")
    </div>
    <div id="tabs-2">
        @Html.Partial("InsideUsers")
    </div>
 
</div>
<script type="text/javascript">
    $(function () {
        $("#Users_Tabs").tabs();
    });
</script>
